.App {
	height: 100vh;
	display: grid;
}

html {
	--primary: #6f263d;
	--primary-transparent: #6f263dc2;

	--primary-rgb: rgb(109, 31, 55);
}

body {
	background-color: rgb(255, 255, 255);
	background-image: url(../images/app-background.svg);
	background-size: 94px 94px;
	background-repeat: repeat;
}

main,
footer,
section {
	padding: 40px 80px;
}

li {
	list-style-type: none;
}

h2 {
	font-size: 2rem;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: var(--primary);
	cursor: pointer;
}

.top-bar {
	height: 384px;
	width: 100%;
	background-image: url(https://www.costa.co.uk/static/all-menu-hero-image-34573cf8b49b15630eeec1893575ac8b.jpg);
	/* background-image: url(https://images.ctfassets.net/royi30b2qd26/EnlYGQXwxGcjuCCqitMXw/659ad13123b6249a74431ca644e022cd/behind-the-beans-landing-1600x464.jpg?w=1600&q=100); */
	background-size: cover;
	background-position: center center;
}

.logo {
	width: 200px;
	padding: 5px;
}

.header_nav {
	margin-left: 1rem;
}

.header__nav ul {
	display: grid;
	grid-auto-flow: column;
}

.header__nav li {
	list-style-type: none;

	display: inline-block;
	margin-left: 0;
	margin-right: 30px;
	margin-bottom: 20px;
	/* padding: 0.7rem; */
	font-size: 1.7rem;
	font-weight: 600;
	align-items: center;
}

.link-no-white {
	color: var(--primary);
	margin-left: auto;
}

.link-no-white:hover {
	color: #6f263dc7;
	cursor: pointer;
}

/* sections style  */
.section__style {
	/* border-top: 0.5px solid rgba(255, 255, 255, 0.432); */
	padding: 5px;
	margin-bottom: 10px;
}

.list__section {
	display: grid;
	grid-template-columns: repeat(auto-fit, 350px);
	place-content: center;
	gap: 80px;
}

footer {
	display: grid;
	place-content: center;
}

footer div {
	display: inline;
}

.footer-font-size {
	font-size: 0.8rem;
}

.inline {
	display: grid;
	grid-auto-flow: column;
	place-items: center;
	margin-top: 20px;
}

.center {
	display: grid;
	place-items: center;
}

button.badge {
	background-color: var(--primary-transparent);
	border: 1px solid var(--primary-transparent);
	border-radius: 50%;
	padding: 2px;
	color: white;
	width: 1.3rem;
	font-weight: 600;
}

.quantity-btn {
	width: 25px;
	height: 25px;
	/* padding: 5px 5px; */

	border-radius: 0.25rem;

	font-weight: bold;
}

.quantity-btn:hover,
.checkout-btn:hover {
	color: var(--primary-rgb);
	cursor: pointer;
}

.remove-btn {
	border: 2px solid;
	background-color: white;
}

.add-btn {
	border: 2px solid;
	background-color: white;
}

.checkout-btn {
	border: 3px solid;
	background-color: white;
	padding: 5px;
	border-radius: 15px;
	font-weight: 600;
	font-size: 1rem;
}

.space {
	margin: 0px 40px;
}

.space-down {
	margin-bottom: 20px;
}

.row {
	display: grid;
	grid-auto-flow: column;
	gap: 20px;

	justify-content: space-between;
}

.row.center {
	/* align items vertically */
	align-items: center;
}

.columns {
	display: grid;
	grid-auto-flow: column;
	gap: 5px;
	font-size: 1.3rem;
}

strong {
	font-size: 1.5rem;
}

.block {
	display: grid;
	/* grid-auto-flow: column; */
	place-content: center;
	gap: 10px;
	/* background-color: #e0e0e093; */
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
}

.text-right {
	text-align: right;
}
